{{ 'hero-banner.css' | asset_url | stylesheet_tag }}

<div class="hero-banner {% if block.settings.show_overlay %}hero-banner--overlay{% endif %} text-{{ block.settings.text_alignment }}" {{ block_shopify_attributes }}>
  {%- if block.settings.image != blank -%}
    {{ block.settings.image | image_url: width: 3000 | image_tag: 
      loading: 'lazy',
      width: block.settings.image.width,
      height: block.settings.image.height,
      class: "hero-banner__image"
    }}
  {%- endif -%}
  
  <div class="hero-banner__content flex flex--middle flex--column page-width">
    {%- if block.settings.heading != blank -%}
      <h2 class="hero-banner__heading h1">{{ block.settings.heading | escape }}</h2>
    {%- endif -%}
    {%- if block.settings.text != blank -%}
      <div class="hero-banner__text">{{ block.settings.text }}</div>
    {%- endif -%}
    {%- if block.settings.button_label != blank -%}
      <a href="{{ block.settings.button_link }}" class="button{% if block.settings.button_style == 'secondary' %} button--secondary{% endif %}">
        {{ block.settings.button_label | escape }}
      </a>
    {%- endif -%}
  </div>
</div> 