<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content_for_header }}
    
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    
    <style>
      :root {
        /* Colors */
        --colors-body: {{ settings.colors_body }};
        --colors-accent: {{ settings.colors_accent }};
        --colors-light: {{ settings.colors_light }};
        --colors-secondary: {{ settings.colors_secondary }};
        --colors-bold: {{ settings.colors_bold }};
        --colors-text-inverse: {{ settings.colors_text_inverse }};
        --colors-error: {{ settings.colors_error }};
        --colors-success: {{ settings.colors_success }};

        /* Fonts */
        --font-heading: 'ITC Clearface', serif;
        --font-body: 'ITC Clearface', serif;
        --font-alt-heading: 'Elephant', sans-serif;
      }
    </style>
    
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'naturals-index.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'announcement-bar' %}
    {% section 'header' %}
    
    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    <script src="{{ 'application.js' | asset_url }}" async></script>
    <script src="{{ 'naturals-index.js' | asset_url }}" async></script>
  </body>
</html> 