<div class="collection-banner color-inverse-1 page-width padded padded--thick {% if section.settings.show_collection_image and collection.image %}collection-banner--has-image{% endif %}">
  {%- if section.settings.show_collection_image and collection.image -%}
    <div class="collection-banner__image-wrapper">
      {{ collection.image | image_url: width: 2000 | image_tag:
        loading: 'lazy',
        class: 'collection-banner__image'
      }}
    </div>
  {%- endif -%}

  <div class="collection-banner__content text-{{ section.settings.text_alignment }}">
    
      {%- if collection.metafields.custom.intro -%}
        {{ collection.metafields.custom.intro | metafield_tag }}
      {%- else -%}
        <h1 class="collection-banner__title">{{ collection.title }}</h1>
      {%- endif -%}
    
    {%- if section.settings.show_collection_description and collection.description != blank -%}
      <div class="collection-banner__description rte">
        {{ collection.description }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ]
}
{% endschema %} 