{{ 'product.css' | asset_url | stylesheet_tag }}

<section class="product-section">
  <div class="page-width padded padded--thick">
    <div class="product-grid flex flex--around flex--gapped">
      <div class="product-media flex flex--gapped col col--5of12 col--mobile--12of12">
        {%- if product.media.size > 0 -%}
          <nav class="product-gallery__nav flex flex--column flex--gapped">
            {%- for media in product.media -%}
              <button class="product-gallery__thumb button button--none" data-slide-index="{{ forloop.index0 }}">
                {%- if media.media_type == 'image' -%}
                  {{ media | image_url: width: 150 | image_tag:
                    loading: 'lazy',
                    width: media.width,
                    height: media.height,
                    class: "product-gallery__thumb_image"
                  }}
                {%- else -%}
                  <div class="product-gallery__thumb-placeholder color-inverse-1 h6 h--alt">
                    {%- case media.media_type -%}
                      {%- when 'external_video' or 'video' -%}
                        {%- render 'icon', type: 'play' -%}
                      {%- when 'model' -%}
                        {%- render 'icon', type: '3d' -%}
                    {%- endcase -%}
                  </div>
                {%- endif -%}
              </button>
            {%- endfor -%}
          </nav>
          <div class="product-gallery carousel" data-carousel>
            <div class="carousel__container">
            {%- for media in product.media -%}
              <div class="product-gallery__item carousel__slide" data-media-id="{{ media.id }}">
                {%- case media.media_type -%}
                  {%- when 'image' -%}
                    {{ media | image_url: width: 1500 | image_tag:
                      loading: 'lazy',
                      width: media.width,
                      height: media.height,
                      class: "product-gallery__image"
                    }}
                  {%- when 'external_video' -%}
                    {{ media | external_video_tag: class: 'product-gallery__video' }}
                  {%- when 'video' -%}
                    {{ media | video_tag: controls: true, class: 'product-gallery__video' }}
                  {%- when 'model' -%}
                    {{ media | model_viewer_tag: class: 'product-gallery__model' }}
                {%- endcase -%}
              </div>
            {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>

      <div class="product-info col col--5of12 col--mobile--12of12 flex flex--column flex--gapped">
        {%- if section.settings.show_vendor and product.vendor and product.vendor != 'California Naturals' -%}
          <div class="product-vendor">{{ product.vendor }}</div>
        {%- endif -%}

        <h1 class="h3 product-title">{{ product.title }}</h1>

        {%- if section.settings.show_description -%}
          <div class="product-description flex flex--gapped flex--column rte">
              <div class="product-weight flex flex--gapped flex--middle h6 h--alt">
                {%- if product.metafields.shopify.suitable-for-hair-type != blank -%}
                  <div class="product-hair-type em">
                    {{ product.metafields.shopify.suitable-for-hair-type | metafield_text: field: 'label' }}
                  </div>
                {%- endif -%}
                {% comment %} <h6 class="h--alt">Weight</h6> {% endcomment %}
                {{ product.selected_or_first_available_variant.weight | weight_with_unit: 'oz' }} / {{ product.selected_or_first_available_variant.weight | weight_with_unit: 'g' }}
              </div>
              {% if product.metafields.reviews.rating_count != blank and product.metafields.reviews.rating_count > 0 %} 
              <div data-oke-star-rating data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.StarRatingSnippet }}</div>
              {% endif %} 
              <hr>
            
            {{ product.description }}
            
            {%- if product.metafields.shopify.scent != blank -%}
              <hr>
              <div class="product-scent flex flex--column flex--gapped">
                <h6 class="h--alt">Scent</h6>
                {{ product.metafields.shopify.scent | metafield_text: field: 'label' }}
              </div>
            {%- endif -%}
            
            {%- if product.metafields.shopify.constitutive-ingredients != blank -%}
              <hr>
              <div class="product-ingredients flex flex--column flex--gapped">
                <h6 class="h--alt">Key Ingredients</h6>
                {{- product.metafields.shopify.constitutive-ingredients | metafield_text: field: 'label' -}}
                {% if product.metafields.custom.full_ingredients != blank %}
                  <details class="product-ingredients__full">
                    <summary class="product-ingredients__full-summary h6 h--alt">See</summary>
                    {{ product.metafields.custom.full_ingredients | metafield_tag }}
                  </details>
                {% endif %}

                
                <h6 class="h--alt"><a href="/pages/ingredients">Explore Ingredients Glossary</a></h6>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- form 'product', product, class: 'product-form flex flex--column flex--gapped', id: 'product-form', novalidate: 'novalidate' -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

          {%- if product.variants.size > 1 -%}
            <div class="product-variants">
              {%- for option in product.options_with_values -%}
                <div class="product-option">
                  <label class="form__label" for="Option-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select
                    id="Option-{{ forloop.index0 }}"
                    class="form__select"
                    name="options[{{ option.name | escape }}]"
                    data-option-index="{{ forloop.index0 }}"
                  >
                    {%- for value in option.values -%}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}
                      >
                        {{ value }}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}

          <div class="product-quantity flex flex--gapped flex--middle">
            {% comment %} <label class="form__label visually-hidden" for="Quantity">{{ 'products.product.quantity' | t }}</label> {% endcomment %}
            <div class="quantity-input">
              <button type="button" class="button--none quantity-button" data-action="decrease">-</button>
              <input
                type="number"
                id="Quantity"
                name="quantity"
                value="1"
                min="1"
                class="input--none input form__input"
                readonly
                data-quantity-input
              >
              <button type="button" class="button--none quantity-button" data-action="increase">+</button>
            </div>
            <button
              type="submit"
              name="add"
              class="button button--full button--inverse h6 h--alt"
              {% unless product.available %}disabled{% endunless %}
              data-add-to-cart
            >
              <span data-add-to-cart-text>
                {%- if product.available -%}
                  {{- 'products.product.add_to_cart' | t -}}
                {%- else -%}
                  {{- 'products.product.sold_out' | t -}}
                {%- endif -%}
                <span class="product-price">
                  {%- if product.price_varies -%}
                    <span class="price-from">{{ 'products.product.from_price_html' | t }}</span>
                  {%- endif -%}
                  <span class="price" data-product-price>
                    {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
                  </span>
                  {%- if product.compare_at_price > product.price -%}
                    <span class="compare-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                  {%- endif -%}
                </span>
              </span>
              <span class="loading-spinner hidden"></span>
            </button>
          </div>
        {%- endform -%}

        {%- if product.metafields.custom.goes_well_with != blank -%}
          <div class="product-related flex flex--column flex--gapped">
            <h5>Goes well with:</h5>
            <div class="product-related__grid flex flex--gapped flex--wrap">
              {%- for related in product.metafields.custom.goes_well_with.value -%}
                <div class="product-related__item padded color-light-2 col col--6of12">
                  <div class="flex flex--gapped">
                    <a href="{{ related.url }}" class="col col--3of12">
                      {{ related | image_url: width: 500 | image_tag:
                        loading: 'lazy',
                        width: related.featured_image.width,
                        height: related.featured_image.height,
                        class: "product-related__image"
                      }}
                    </a>
                    <h6 class="col col--9of12 h--alt"><a href="{{ related.url }}">{{ related.title }}</a></h6>
                    <button 
                      class="button button--full button--outline h6 h--alt"
                      {% unless related.available %}disabled{% endunless %}
                      data-quick-add-button
                      data-variant-id="{{ related.selected_or_first_available_variant.id }}"
                    >
                      {%- if related.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                      {{ related.price | money_without_trailing_zeros }}
                    </button>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

{%- if product.metafields.custom.quote != blank -%}
  <div class="product-quote flex flex--middle flex--center">
    <div class="product-quote__content padded padded--thick page-width text-center">
      {{ product.metafields.custom.quote | metafield_tag }}
    </div>
  </div>
{%- endif -%}


  <div class="product-columns padded padded--thick">
    <div class="page-width">
    <div class="flex flex--gapped flex--around">
      {%- if product.metafields.custom.content_title != blank or product.metafields.custom.content != blank or product.metafields.custom.content_media != blank -%}
      <div class="col col--5of12 col--mobile--12of12 product-columns__content flex flex--column flex--gapped">
        {%- if product.metafields.custom.content_background != blank -%}
          {{ product.metafields.custom.content_background | image_url: width: 1000 | image_tag:
            loading: 'lazy',
            class: "product-columns__background"
          }}
        {%- endif -%}
        {%- if product.metafields.custom.content_title != blank -%}
          <h4>{{ product.metafields.custom.content_title }}</h4>
        {%- endif -%}
        {%- if product.metafields.custom.content_media != blank -%}
          {{ product.metafields.custom.content_media | image_url: width: 800 | image_tag:
              loading: 'lazy',
              class: "product-columns__image"
            }}
        {%- endif -%}
        {%- if product.metafields.custom.content != blank -%}
          {{ product.metafields.custom.content | metafield_tag }}
        {%- endif -%}
      </div>
      {%- endif -%}
      
      <div class="col col--5of12 col--mobile--12of12 product-columns__content product-columns__content--icons flex flex--column flex--gapped">
        {%- if product.metafields.custom.icons_title != blank -%}
          <h4>{{ product.metafields.custom.icons_title }}</h4>
        {%- endif -%}

        {%- if product.metafields.custom.icons != blank -%}
          <ul class="product-icons__list list--nostyle flex flex--column flex--gapped">
            {%- for icon in product.metafields.custom.icons.value -%}
              <li class="product-icons__item flex flex--gapped">
                {%- if icon.svg != blank -%}
                  {{ icon.svg | image_url: width: 50 | image_tag:
                    loading: 'lazy',
                    class: "product-icons__image",
                    width: 50,
                    height: 50
                  }}
                {%- endif -%}
                <div class="product-icons__content flex flex--gapped flex--column">
                  {%- if icon.label != blank -%}
                    <h6 class="h--alt">{{ icon.label }}</h6>
                  {%- endif -%}
                  {%- if icon.text != blank -%}
                    <div class="product-icons__text">{{ icon.text | metafield_tag | replace: '[product_title]', product.title }}</div>
                  {%- endif -%}
                </div>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
      </div>
    </div>
  </div>
</section>




{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "label": "Gallery layout",
      "options": [
        {
          "value": "stacked",
          "label": "Stacked"
        },
        {
          "value": "thumbnail",
          "label": "Thumbnail"
        },
        {
          "value": "thumbnail_slider",
          "label": "Thumbnail slider"
        }
      ],
      "default": "stacked"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "Media size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    }
  ]
}
{% endschema %}