{% style %}
.video-with-text {
  margin: var(--step-3) auto;
}

.video-with-text__grid {
}

.video-with-text__wrapper {
  position: relative;
}

.video-with-text__wrapper video,
.video-with-text__wrapper iframe {
  width: 100%;
  aspect-ratio: 16/7;
  object-fit: cover;
  border-radius: var(--step-1);
  background-color: black;
}

.video-with-text__overlay {
  /* --offset: 15%; */
  position: absolute;
  bottom: -1px;
  left: 0;
  width: calc(100% + 1px);
  height: auto;
  /* object-fit: contain; */
  z-index: 1;
}

.video-with-text__text {
  width: auto;
}

.video-with-text__heading {
  width: auto;
  order: -1;
}
{% endstyle %}

<div class="video-with-text color-{{ section.settings.color_scheme }}">
  <div class="video-with-text__grid flex flex--gapped flex--{{ section.settings.text_alignment }} page-width">
    <div class="video-with-text__wrapper">
    {% if section.settings.video_url != blank %}
      {% if section.settings.video_url contains 'cdn.shopify.com' %}
        <video {% if section.settings.autoplay %}autoplay muted loop{% else %}controls{% endif %} data-plyr-video>
          <source src="{{ section.settings.video_url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% else %}
        <iframe 
          src="{{ section.settings.video_url }}" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      {% endif %}
      <svg viewBox="0 0 1237 72" class="video-with-text__overlay"> <g clip-path="url(#clip0_1806_155)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M0 -272.092V48.3165C1.3092e-06 48.2862 6.26229e-05 48.2559 0.000184059 48.2255L0.380512 -46.8434C0.383072 -47.4834 0.412926 -48.1175 0.468968 -48.7425L0 -272.092ZM0 48.3185V72H1237V-525H1236.71V-30.6775H1236.55L1236.25 48.7645C1236.19 62.1815 1224.38 72.4635 1211.1 70.5605C1198.91 68.8122 1182.65 66.356 1163.19 63.4177C1037.83 44.4814 779.904 5.52281 623.451 6.97455C442.529 8.65355 118.053 56.0665 25.2945 70.1705C11.9195 72.2049 0.00058348 61.8322 0 48.3185Z" fill="white"/> </g> <defs> <clipPath id="clip0_1806_155"> <rect width="1237" height="72" fill="white"/> </clipPath> </defs> </svg>
    {% endif %}
    </div>
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when 'heading' %}
          <h3 class="flex flex--gapped flex--middle video-with-text__heading" {{ block.shopify_attributes }}>
            {{ block.settings.heading | escape }}
            {% if block.settings.subheading != blank %}
              <span class="h6 h--alt em video-with-text__subheading">{{ block.settings.subheading | escape }}</span>
            {% endif %}
          </h3>
        {% when 'text' %}
          <div class="video-with-text__text padded flex flex--column flex--gapped rte" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
      {% endcase %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Video with text",
  "tag": "section",
  "class": "section section-video-with-text section-media-text",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "default"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL",
      "info": "Paste your video URL here (YouTube, Vimeo, or direct video link)"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay video",
      "default": false,
      "info": "Video will be muted when autoplaying"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left",
      "label": "Text alignment"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Video with text",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with a video to share your story</p>",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video with text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %} 